<!-- header -->
<div class="header-nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <a class="navbar-brand" href="<%= current_site.the_url %>"><img src="<%= current_site.the_logo(theme_asset_url('images/logo.png')) %>" alt=" " /></a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <% cama_menu_parse_items(current_site.nav_menus.find_by_slug('main_menu').children).each do |item| %>
                        <li class="<%= item[:current_item] ? 'act' : 'hvr-bubble-bottom' %>"><a class="<%= 'scroll' if item[:url].start_with?('#') %>" href="<%= item[:url] %>"><%= item[:label] %></a></li>
                    <% end %>
                </ul>
            </div><!-- /.navbar-collapse -->

        </nav>
    </div>
</div>
<!-- header -->
<!-- header-bottom -->
<div class="header-bottom">
    <div class="container">
        <div class="header-bottom-right">
            <div class="pull-left">
                <%= raw current_site.draw_languages("language list-inline pull-right", true) %>
            </div>
            <div class="header-bottom-right2">
                <ul>
                    <%= raw perspective_social_networks %>
                </ul>
            </div>
            <div class="header-bottom-right1">
                <ul>
                    <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:<%= current_theme.get_option('email_info', 'default_email@example.com') %>"><%= current_theme.get_option('email_info', 'default_email@example.com') %></a></li>
                    <li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span><%= current_theme.get_option('phone_info', '+0943 976 908') %></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <%= render 'camaleon_cms/flash_messages' %>
</div>
<!-- //header-bottom -->